{% extends 'courses/base.html' %}


{% block post_detail_link %}
	<li>{{ object.title }}</li>

{% endblock %}




{% block content %}

<div class="container">
	<div class="row">
		<div class="col-md-4 col-sm-4">
			<h1>Course Detail View</h1>
			<h3>{{ object.title }}</h3>
			<p>{{ object.description }}</p>
			<ul>
			{% for lesson in object.lessons %}
				<li>{{lesson.course.title}} <a href="{{lesson.get_absolute_url}}">{{lesson.title}}</a> </li>
			{% endfor %}
			</ul>
		</div>

	</div>

</div>

	


{% endblock content %}