{% extends 'courses/base.html' %}

{% block content %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<img src="https://cdn.pixabay.com/photo/2018/03/04/20/43/webinar-3199164_960_720.jpg" width="100%">
			</div>
		</div>
	</div>

	<br>
	<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12">
			<h1 class="display-4">Course List View Page</h1>
			<br>
			<ul>
			{% for object in object_list%}
				<h4><li><a href="{{ object.get_absolute_url }}"> {{ object }} </a></li></h4>
			{% endfor %}
			</ul>
		</div>

	</div>
	</div>	
	<hr class="my-4">
	



{% endblock content %}